@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rock Salt', sans-serif;
    color: #fefefe;
}

.portfolio{
    background: radial-gradient(rgb(10, 85, 184),#333);
}

.logo, .toggle{
    z-index: 2;
    cursor: pointer;
}

.logo a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #fefefe;
}

.navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 10vh;
}

.suzuka, .kanon, .rin, .mizyu{
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    height: 90vh;
}

.details{
    grid-column: 2/3;
    align-self: flex-end;
    margin-bottom: 20px;
}

.hero a{
    display: flex;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero img{
    height: 400px;
    width: auto;
}

.left{
    transform: translateY(-5%);
    transition: ease 300ms;
}

.hero:hover .left{
    transform: translateY(0%);
}

.right{
    transform: translateY(5%);
    transition: ease 300ms;
}

.hero:hover .right{
    transform: translateY(0%);
}

.pages{
    position: fixed;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.pages div{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.pages .slide{
    cursor: pointer;
    transition: transform ease-in-out 400ms;
}

.pages div:hover .slide{
    transform: scale(2);
}

.pages h3{
    margin: 0;
    padding-right: 10px;
}

.slide-down{
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
    height: 50vh;
    z-index: 1;
    transform: translateY(-100%);
    transition: all ease-in-out 400ms;
}

.showup{
    transform: translateY(0%);
}

.contact, .social{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.contact span:first-child, .social span{
    font-size: 2rem;
}

.contact span:last-child, .social-icon{
    padding-top: 40px;
}

.contact{
    display: flex;
    flex-direction: column;
}

.social a{
    text-decoration: none;
    color: #fefefe;
    padding-right: 20px;
}

.about-page{
    color: #222;
}

.banner{
    background: url(img/banner.png) rgba(0, 0, 0,0.6);
    background-blend-mode: multiply;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: #fefefe;
    text-shadow: rgb(0, 0, 0) 0 0 20px;
    padding-right: 40px;
}

.banner h1{
    margin: 0;
}

.info{
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    margin: 40px;
}

.info .text h1, .info .text p{
    margin: 0;
}

.info .text p{
    padding-top: 40px;
    line-height: 40px;
}

.info .image{
    width: 400px;
}

.about-and-gallery{
    display: flex;
    justify-content: space-between;
    margin: 60px 40px;
}

.about-and-gallery .text{
    width: 45%;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    line-height: 30px;
}

.about-and-gallery .text h1{
    margin: 0 0 40px 0;
}

.gallery img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.gallery{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 880px){
    .info{
        display: flex;
        flex-direction: column;
    }

    .info .image{
        display: flex;
        align-self: center;
        margin-top: 40px;
    }

    .about-and-gallery{
        display: flex;
        flex-direction: column;
    }

    .about-and-gallery .text{
        width: 100%;
    }

    .gallery{
        width: 100%;
        justify-content: center;
    }
}

@media (max-width:700px){
    .hero img{
        height: 300px;
        width: auto;
    }

    .slide-down{
        gap: 20%;
    }

    .contact, .social{
        font-size: 1rem;
    }

    .contact span:first-child, .social span{
        font-size: 1.6rem;
    }
    
    .contact span:last-child, .social-icon{
        padding-top: 30px;
    }

    .info{
        display: flex;
        flex-direction: column;
    }

    .info .image{
        display: flex;
        align-self: center;
        margin-top: 40px;
    }

    .about-and-gallery{
        display: flex;
        flex-direction: column;
    }

    .about-and-gallery .text{
        width: 100%;
    }

    .gallery{
        width: 100%;
        justify-content: center;
    }  
}







